<div id="wrapper">
	<div class="navbar navbar-fixed-top" id="menu">
		<div class="navbar-inner">
			<div class="container">

				<!-- Toggle button -->
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>

				<a class ="brand" href ="#">rtorrent Control</a>

				<div class ="nav-collapse">
					<ul class ="nav nav-pills">
						<li>
							<a href ="#torrents">Torrents list</a>
						</li>
						<li>
							<a href ="#settings">Settings</a>
						</li>
					</ul>
					<div id ="search_container"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="content" class="container">
		<div style="text-align: center;">
			<h1>Loading...</h1>
			<img src ="img/loader.gif" />
		</div>
	</div>
</div>